<div style="padding: 25px">
  <h1>
    Book Management System
  </h1>
  <div class="form-group">
    <label for="name">Book Title</label>
    <input type="taskName" class="form-control" [(ngModel)]="name" id="name" placeholder="Book Title" />
  </div>
  <div class="form-group">
    <label for="pubDate">Publication Date</label>
    <input type="date" class="form-control" [(ngModel)]="pubDate" id="pubDate" placeholder="Publication Date">
  </div>
  <div class="form-group">
    <label for="type" >Task Status</label>
    <select [(ngModel)]="type" class="browser-default custom-select" id="type">
      <option value="Hard Cover">Hard Cover</option>
      <option value="Paper Back">Paper Back</option>
    </select>
  </div>
  <div class="form-group">
    <label for="summary">Description</label>
    <textarea [(ngModel)]="summary" class="form-control" id="summary" rows="3"></textarea>
  </div>
  <button [disabled]="name.length <= 0" (click)="newBook()" class="btn btn-primary">Add Book {{data.length}}</button>
  <button [disabled]="hardCoverTotal <= 0" (click)="deleteHardCover()" class="btn btn-danger">Delete Hard Cover {{hardCoverTotal}}</button>
  <table class="table table-hover" style="padding-top: 25px">
    <tr style="background-color: aliceblue">
      <th>#</th>
      <th>Title</th>
      <th>Publication Date</th>
      <th>Book Type</th>
      <th>Summary</th>
      <th>Delete?</th>
    </tr>
    <tr *ngFor="let item of data; let i = index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.pubDate}}</td>
      <td>{{item.type}}</td>
      <td>{{item.summary}}</td>
      <td><div *ngIf="item.name.length > 0">
        <button (click)="deleteBook(i)" class="btn btn-danger">Delete</button>
      </div></td>
    </tr>
  </table>
</div>
